Explication : L'ago doit prédire les notes d'un utilisateur pour des livres qu'il n'a pas encore notés. Ce système prend en compte les notes que l'utilisateur a attribuées à ses livres pour faire des prédictions. Les notes qu'un utilisateur a attribuées à ses livres sont utilisées pour faire des prédictions sur les livres qu'il pourrait aimer à l'avenir. De plus, parce que la SVD prend en compte les notes de tous les utilisateurs, les prédictions sont également influencées par les préférences des utilisateurs similaires

In [46]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import recall_score
from scipy import stats
from scipy.sparse import csr_matrix
from scipy.sparse.linalg import svds

import ast
from sqlalchemy import create_engine, text
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel
from fuzzywuzzy import process, fuzz
from IPython.display import clear_output
import pickle
from data_db import user, mdp

In [47]:
import time

start_time = time.time()

## PREPROCESSING

In [48]:
book_data = pd.read_csv("Dataset/books_metadata_Amazon.csv", delimiter=',', on_bad_lines='skip')
book_data = book_data[['Title', 'authors', 'categories']] # keep the Title, authors and categories from the columns

In [49]:
# Function to convert a list into a string
def list_to_string(list):
    return ', '.join(list)

def str_to_list(list_str):
    if isinstance(list_str, str):
        return ast.literal_eval(list_str)
    else:
        return []

# Replace NaN with empty strings
book_data['authors'].fillna('[]', inplace=True)
book_data['categories'].fillna('[]', inplace=True)

# Convert strings that look like lists into actual lists
book_data['authors'] = book_data['authors'].apply(str_to_list)
book_data['categories'] = book_data['categories'].apply(str_to_list)

# Convert the lists into strings
book_data['authors'] = book_data['authors'].apply(list_to_string)
book_data['categories'] = book_data['categories'].apply(list_to_string)

In [50]:
# consider on user_id, book_id, and ratings
df = pd.read_csv('Dataset/Books_Amazon.csv')
df = df[['Id','User_id','Title','review/score', 'review/time']]
df.rename(columns={'Id':'ProductId','User_id':'UserId','review/time':'Time','Title':'title','review/score':'Score'},inplace=True)

In [51]:
df.shape

(3000000, 5)

In [52]:
# FUSION DES DONNEES
df['title'] = df['title'].str.strip().str.lower()
book_data['Title'] = book_data['Title'].str.strip().str.lower()

# Merge the DataFrames on the titles
df = df.merge(book_data, how='left', left_on='title', right_on='Title')

# Supprimez la colonne des titres en double
df = df.drop(columns=['Title'])

In [53]:
df

,ProductId,UserId,title,Score,Time,authors,categories
0,1882931173,AVCGYZL8FQQTD,its only art if its well hung!,4.0,940636800,Julie Strain,Comics & Graphic Novels
1,0826414346,A30TK6U7DNS82R,dr. seuss: american icon,5.0,1095724800,Philip Nel,Biography & Autobiography
2,0826414346,A3UH4UZ4RSVO82,dr. seuss: american icon,5.0,1078790400,Philip Nel,Biography & Autobiography
3,0826414346,A2MVUWT453QH61,dr. seuss: american icon,4.0,1090713600,Philip Nel,Biography & Autobiography
4,0826414346,A22X4XUPKF66MR,dr. seuss: american icon,4.0,1107993600,Philip Nel,Biography & Autobiography
...,...,...,...,...,...,...,...
3320448,B000NSLVCU,NaN,the idea of history,4.0,937612800,R. G. Collingwood,History
3320449,B000NSLVCU,A1SMUB9ASL5L9Y,the idea of history,4.0,1331683200,R. G. Collingwood,History
3320450,B000NSLVCU,A2AQMEKZKK5EE4,the idea of history,4.0,1180224000,R. G. Collingwood,History
3320451,B000NSLVCU,A18SQGYBKS852K,the idea of history,5.0,1163030400,R. G. Collingwood,History
3320452,B000NSLVCU,NaN,the idea of history,1.0,905385600,R. G. Collingwood,History

# Data Preprocessing

In [54]:
#lots of fields where user is NaN
df = df.dropna(subset=['UserId'])

In [55]:
print("Size of 'ProductId' column:", len(df['ProductId']))
print("Size of 'UserId' column:", len(df['UserId']))

# Define the threshold values
product_id_threshold = 200 
user_id_threshold = 10

# Count the occurrences of ProductId and UserId
product_id_counts = df['ProductId'].value_counts()
user_id_counts = df['UserId'].value_counts()

# Filter out rows below the threshold
filtered_df = df[(df['ProductId'].isin(product_id_counts[product_id_counts >= product_id_threshold].index)) &
                 (df['UserId'].isin(user_id_counts[user_id_counts >= user_id_threshold].index))]

print("Size of 'ProductId' column:", len(filtered_df['ProductId']))
print("Size of 'UserId' column:", len(filtered_df['UserId']))

Size of 'ProductId' column: 2687258
Size of 'UserId' column: 2687258
Size of 'ProductId' column: 534135
Size of 'UserId' column: 534135

In [56]:
# # Get unique UserIds and ProductIds
# unique_user_ids = filtered_df['UserId'].unique()
# unique_product_ids = filtered_df['ProductId'].unique() #unique ids for books are less

# user_id_to_index = {user_id: index for index, user_id in enumerate(unique_user_ids)}
# product_id_to_index = {product_id: index for index, product_id in enumerate(unique_product_ids)}

# # clean matrix
# matrix = np.zeros((len(unique_user_ids), len(unique_product_ids)))

# # users as rows, books as columns with their ratings
# for _, row in filtered_df.iterrows():
#     user_id = row['UserId']
#     product_id = row['ProductId']
#     score = row['Score']
    
#     user_index = user_id_to_index[user_id]
#     product_index = product_id_to_index[product_id]
    
#     if matrix[user_index][product_index] < score:
#         matrix[user_index][product_index] = score
# print(matrix.shape)
# matrix

# Output MySQL USER DATA

In [57]:
def get_user_data(user_email):
    # Connect to the database
    engine = create_engine('mysql+pymysql://'+user+':'+mdp+'@localhost:3306/db_master_project') # Change the password accordingly !!!!

    # Load user's read and liked books from the database
    query = text(f"SELECT * FROM user WHERE email = '{user_email}';")
    user_data = pd.read_sql_query(query, engine)
    
    return user_data
user_data = get_user_data('john.doe@example.com')

In [58]:
def get_user_books(user_email):
    """ Récupère les livres d'un utilisateur à partir de la base de données """
    engine = create_engine('mysql+pymysql://'+user+':'+mdp+'@localhost:3306/db_master_project')
    user_books_query = text(f"SELECT * FROM book WHERE owner = '{user_email}';")
    user_books = pd.read_sql_query(user_books_query, engine)
    #user_books = user_books[user_books['rating'].between(0, 5)]
    # Prendre en compte la casse et les espaces supplémentaires
    user_books['title'] = user_books['title'].str.strip().str.lower()
    return user_books

user_books = get_user_books('john.doe@example.com')

In [59]:
def get_all_user_books():
    """ Récupère les livres d'un utilisateur à partir de la base de données """
    engine = create_engine('mysql+pymysql://'+user+':'+mdp+'@localhost:3306/db_master_project')
    user_books_query = text(f"SELECT * FROM book;")
    user_books = pd.read_sql_query(user_books_query, engine)
    #user_books = user_books[user_books['rating'].between(0, 5)]
    # Prendre en compte la casse et les espaces supplémentaires
    user_books['title'] = user_books['title'].str.strip().str.lower()
    return user_books

all_user_books = get_all_user_books()

In [60]:
# Grouper par titre et obtenir le premier ProductId pour chaque groupe
product_ids_by_title = filtered_df.groupby('title')['ProductId'].first()

In [61]:
# Sélection et renommage des colonnes dans all_user_books pour correspondre à filtered_df
adapted_all_user_books = all_user_books[['title', 'owner', 'author', 'rating']].copy()
adapted_all_user_books.rename(columns={'owner': 'UserId', 'author': 'authors', 'rating': 'Score'}, inplace=True)

# Ajout des colonnes manquantes avec des valeurs par défaut ou vides
adapted_all_user_books['ProductId'] = ''  # Ajout d'une colonne ProductId vide
adapted_all_user_books['Time'] = None  # Vous pouvez remplacer None par une valeur par défaut si nécessaire
adapted_all_user_books['categories'] = None  # Vous pouvez remplacer None par une valeur par défaut si nécessaire

# Réorganiser les colonnes pour qu'elles correspondent à celles de filtered_df
adapted_all_user_books = adapted_all_user_books[['ProductId', 'UserId', 'title', 'Score', 'Time', 'authors', 'categories']]

# Concaténation de adapted_all_user_books avec filtered_df
filtered_df = pd.concat([filtered_df, adapted_all_user_books], ignore_index=True)

In [62]:
from fuzzywuzzy import process

def find_closest_title(title, titles_list):
    closest_title, score = process.extractOne(title, titles_list)
    return closest_title if score > 90 else None  # Vous pouvez ajuster le seuil de score

# Parcourir filtered_df pour trouver et associer les ProductId manquants
for index, row in filtered_df.iterrows():
    if pd.isnull(row['ProductId']) or row['ProductId'] == '':
        closest_title = find_closest_title(row['title'], product_ids_by_title.index)
        if closest_title:
            filtered_df.at[index, 'ProductId'] = product_ids_by_title[closest_title]

In [63]:
# filtered_df[filtered_df['UserId'] == 'john.doe@example.com']

In [64]:
filtered_df[filtered_df['authors'].str.contains('Tolkien', na=False)]

,ProductId,UserId,title,Score,Time,authors,categories
15331,B000NWU3I4,AO7T4J6K95JFX,"the hobbitt, or there and back again; illustra...",5.0,1355702400,J. R. R. Tolkien,Fiction
15332,B000NWU3I4,A2W6RO2CANQP3L,"the hobbitt, or there and back again; illustra...",5.0,1355702400,J. R. R. Tolkien,Fiction
15333,B000NWU3I4,AG1AGJ6TIRWAE,"the hobbitt, or there and back again; illustra...",5.0,1355616000,J. R. R. Tolkien,Fiction
15334,B000NWU3I4,A2GFQZI9ALGJJ,"the hobbitt, or there and back again; illustra...",5.0,1360540800,J. R. R. Tolkien,Fiction
15335,B000NWU3I4,A1K2E5RVZB8G4Y,"the hobbitt, or there and back again; illustra...",5.0,1360540800,J. R. R. Tolkien,Fiction
...,...,...,...,...,...,...,...
534172,B000ILIJE0,lc@mail.com,the hobbit there and back again,5.0,None,John Ronald Reuel Tolkien,None
534173,B000GQG5MA,l2@c.com,"the hobbit; or, there and back again",5.0,None,J. R. R. Tolkien,None
534174,B000GQG5MA,lc@mail.com,"the hobbit; or, there and back again",5.0,None,J. R. R. Tolkien,None
534175,,l2@c.com,"the hobbitt, or there and back again; illustra...",5.0,None,J. R. R. Tolkien,None
534176,,lc@mail.com,"the hobbitt, or there and back again; illustra...",5.0,None,J. R. R. Tolkien,None

In [65]:
filtered_df = filtered_df.sample(frac=1, random_state=42)

In [66]:
# Get unique UserIds and ProductIds
unique_user_ids = filtered_df['UserId'].unique()
unique_product_ids = filtered_df['ProductId'].unique() #unique ids for books are less

user_id_to_index = {user_id: index for index, user_id in enumerate(unique_user_ids)}
product_id_to_index = {product_id: index for index, product_id in enumerate(unique_product_ids)}

# clean matrix
matrix = np.zeros((len(unique_user_ids), len(unique_product_ids)))

# users as rows, books as columns with their ratings
for _, row in filtered_df.iterrows():
    user_id = row['UserId']
    product_id = row['ProductId']
    score = row['Score']
    
    user_index = user_id_to_index[user_id]
    product_index = product_id_to_index[product_id]
    
    if matrix[user_index][product_index] < score:
        matrix[user_index][product_index] = score
print(matrix.shape)
matrix

(33628, 1810)

array([[5., 0., 0., ..., 0., 0., 0.],
       [0., 3., 0., ..., 0., 0., 0.],
       [0., 0., 5., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

# Z-Scoring

In [67]:
matrix = stats.zscore(matrix, axis=0)

# Evaluation

Evaluation de la performance des recommandation

In [68]:
def calculate_mse(predicted_matrix, test_matrix):
    num_users = min(predicted_matrix.shape[0], test_matrix.shape[0])
    num_items = min(predicted_matrix.shape[1], test_matrix.shape[1])
    mse = np.mean((predicted_matrix[:num_users, :num_items] - test_matrix[:num_users, :num_items]) ** 2)
    return mse

def calculate_f1_score(recall, precision):
    if recall + precision == 0:
        return 0
    f1_score = 2 * (precision * recall) / (precision + recall)
    return f1_score

def precision_at_k(actual_matrix, predicted_matrix, k, threshold):
    binary_predicted_matrix = predicted_matrix >= threshold
    
    precision = []
    for i in range(len(actual_matrix)):
        actual_indices = np.where(actual_matrix[i] >= threshold)[0]
        predicted_indices = np.argsort(~binary_predicted_matrix[i])[:k]
        common_indices = np.intersect1d(actual_indices, predicted_indices)
        precision.append(len(common_indices) / len(predicted_indices))
    
    return np.mean(precision)

def recall_at_k(true_matrix, pred_matrix, k, threshold):
    pred_matrix_sorted = np.argsort(pred_matrix, axis=1)[:, ::-1][:, :k]
    recall_scores = []
    for i in range(len(true_matrix)):
        true_positives = len(set(pred_matrix_sorted[i]).intersection(set(np.where(true_matrix[i] >= threshold)[0])))
        actual_positives = len(np.where(true_matrix[i] >= threshold)[0])
        if actual_positives > 0:
            recall_scores.append(true_positives / actual_positives)
    recall = np.mean(recall_scores)
    return recall

# SVD

système de recommandation basé sur la factorisation de matrices, en particulier la décomposition en valeurs singulières

In [69]:
def split_train_test(matrix, test_size=0.001, random_state=42):
    train_matrix, test_matrix = train_test_split(matrix, test_size=test_size, random_state=random_state)
    return train_matrix, test_matrix

def calculate_svd(train_matrix, k=600):
    train_sparse = csr_matrix(train_matrix)
    # Perform SVD on the sparse matrix
    U_train, S_train, VT_train = svds(train_sparse, k=k)
    # Reverse the singular values, columns of U_train, and rows of VT_train
    S_train_k = np.diag(S_train[::-1])
    U_train_k = U_train[:, ::-1]
    VT_train_k = VT_train[::-1, :]
    
    return U_train_k, S_train_k, VT_train_k

train_matrix, test_matrix = split_train_test(matrix)

# training set
U_train, S_train, VT_train = calculate_svd(train_matrix)
U_train_pred = np.dot(train_matrix, VT_train.T)
train_pred_matrix = np.dot(U_train_pred, VT_train)

# Make predictions for the test set
U_test_pred = np.dot(test_matrix, VT_train.T)
predicted_matrix = np.dot(U_test_pred, VT_train)

# Calculate MSE 
train_mse = calculate_mse(train_matrix, train_pred_matrix)
test_mse = calculate_mse(test_matrix, predicted_matrix)

print("Train Set Mean Squared Error (MSE):", train_mse)
print("Test Set Mean Squared Error (MSE):", test_mse)

Train Set Mean Squared Error (MSE): 0.11208192817038494
Test Set Mean Squared Error (MSE): 0.16006711599627513

In [70]:
# Calculate Precision at k for the test set
precision = precision_at_k(test_matrix, predicted_matrix, k=10, threshold=3)

# Calculate Recall at k for the test set
recall = recall_at_k(test_matrix, predicted_matrix, k=10, threshold=3)

# Calculate F1 score
f1_score = calculate_f1_score(recall, precision)
print("RMSE (training): ", np.sqrt(train_mse) )
print("RMSE (test): ", np.sqrt(test_mse))
print("Precision @ 10: ", precision)
print("Recall @ 10:", recall)
print("F1 Score:", f1_score)

RMSE (training):  0.3347863918536489
RMSE (test):  0.40008388619922586
Precision @ 10:  0.6117647058823529
Recall @ 10: 0.8638846147217617
F1 Score: 0.7162868709554768

# Save Model

In [71]:
# Enregistrement des matrices U, S, et VT
with open('Model/U_matrix.pkl', 'wb') as f:
    pickle.dump(U_train, f)

with open('Model/S_matrix.pkl', 'wb') as f:
    pickle.dump(S_train, f)

with open('Model/VT_matrix.pkl', 'wb') as f:
    pickle.dump(VT_train, f)

# Enregistrement des mappages
with open('Model/user_id_to_index.pkl', 'wb') as f:
    pickle.dump(user_id_to_index, f)

with open('Model/product_id_to_index.pkl', 'wb') as f:
    pickle.dump(product_id_to_index, f)

# Enregistrement de la matrice d'origine
with open('Model/original_matrix.pkl', 'wb') as f:
    pickle.dump(matrix, f)

with open('Model/user_id_to_index.pkl', 'wb') as f:
    pickle.dump(user_id_to_index, f)
    
with open('Model/U_train.pkl', 'wb') as f:
    pickle.dump(U_train, f)
    
with open('Model/VT_train.pkl', 'wb') as f:
    pickle.dump(VT_train, f)
    
filtered_df.to_pickle('Model/books_metadata.pkl')

In [72]:
def load_model_and_mappings():
    with open('Model/U_matrix.pkl', 'rb') as f:
        U_matrix = pickle.load(f)

    with open('Model/S_matrix.pkl', 'rb') as f:
        S_matrix = pickle.load(f)

    with open('Model/VT_matrix.pkl', 'rb') as f:
        VT_matrix = pickle.load(f)

    with open('Model/user_id_to_index.pkl', 'rb') as f:
        user_id_to_index = pickle.load(f)

    with open('Model/product_id_to_index.pkl', 'rb') as f:
        product_id_to_index = pickle.load(f)

    with open('Model/original_matrix.pkl', 'rb') as f:
        original_matrix = pickle.load(f)

    with open('Model/U_train.pkl', 'rb') as f:
        U_train = pickle.load(f)
        
    with open('Model/VT_train.pkl', 'rb') as f:
        VT_train = pickle.load(f)
        
    filtered_df = pd.read_pickle('Model/books_metadata.pkl')

    return U_matrix, S_matrix, VT_matrix, user_id_to_index, product_id_to_index, original_matrix, U_train, VT_train, filtered_df

# Utilisation de la fonction
U_matrix, S_matrix, VT_matrix, user_id_to_index, product_id_to_index, original_matrix, U_train, VT_train, filtered_df = load_model_and_mappings()

## TEST SUR UTILISATEUR DEJA PRÉSENT

In [73]:
def get_user_books(user_email):
    """ Récupère les livres d'un utilisateur à partir de la base de données """
    engine = create_engine('mysql+pymysql://'+user+':'+mdp+'@localhost:3306/db_master_project')
    user_books_query = text(f"SELECT * FROM book WHERE owner = '{user_email}';")
    user_books = pd.read_sql_query(user_books_query, engine)
    #user_books = user_books[user_books['rating'].between(0, 5)]
    # Prendre en compte la casse et les espaces supplémentaires
    user_books['title'] = user_books['title'].str.strip().str.lower()
    return user_books

user_books = get_user_books('john.doe@example.com')

In [112]:
def fetch_relevant_items_for_user(user_id, relevant_items=5):
    # Get the index of the user
    user_index = user_id_to_index[user_id]
    user_embedding = U_train[user_index, :]
    
    similarity_scores = VT_train.T.dot(user_embedding)

    sorted_indices = similarity_scores.argsort()[::-1]
    top_relevant_indices = sorted_indices[:relevant_items]
    
    relevant_items = [list(product_id_to_index.keys())[list(product_id_to_index.values()).index(idx)] for idx in top_relevant_indices]
    relevant_titles = filtered_df.loc[filtered_df['ProductId'].isin(relevant_items), 'title'].tolist()
    
    # Remove any duplicate titles
    unique_relevant_titles = list(set(relevant_titles))
    
    # Get the final set of relevant items without duplicate titles
    final_relevant_items = []
    for title in unique_relevant_titles:
        final_relevant_items.append(title)
    
    return final_relevant_items

In [113]:
def provide_recommendations_for_user(user_id, top_n=35):
    relevant_items = fetch_relevant_items_for_user(user_id, top_n)
    print(f"User: {user_id}")
    print("Relevant Items:")
    for i, item in enumerate(relevant_items):
        print(f"{i+1}. {item}")
    print()

# Utilisation de la fonction
user_email = "lc@mail.com"
top_n_recommendations = 35

provide_recommendations_for_user(user_email, top_n_recommendations)

User: lc@mail.com
Relevant Items:
1. the wealth of nations
2. ancestors tale a pilgrimage to the da
3. forever
4. the knowledge of the holy: the attributes of god : their meaning in the christian life
5. apa: the easy way! (for apa 5th edition)
6. taking charge of your fertility: the definitive guide to natural birth control, pregnancy achievement, and reproductive health
7. good to great
8. furies of calderon (codex alera, book 1)
9. new earth
10. the pragmatic programmer: from journeyman to master
11. portrait of a killer: jack the ripper - case closed
12. love & respect: the love she most desires; the respect he desperately needs
13. ryan's return
14. sophie's world
15. an inquiry into the nature and causes of the wealth of nations (the harvard classics)
16. chi running: a revolutionary approach to effortless, injury-free running
17. the seat of the soul
18. jack: straight from the gut
19. what to expect when you're expecting, 3rd edition
20. an inquiry into the nature and causes of the wealth of nations (everyman's library. science)
21. all quiet on the western front;
22. who moved my cheese? an-amazing way to deal with change in your work and in your life
23. dianetics: the modern science of mental health
24. holes
25. an inquiry into the nature and causes of the wealth of nations,
26. an inquiry into the nature and causes of the wealth of nations
27. the case for faith: a journalist investigates the toughest objections to christianity
28. the lorax (turtleback school & library binding edition)
29. the 7 habits of highly effective people: wisdom and insights from
30. the english roses

In [116]:
def provide_recommendations_for_user(user_id, top_n=35):
    # Obtenir les éléments pertinents pour l'utilisateur
    relevant_items = fetch_relevant_items_for_user(user_id, top_n)

    # Créer une liste pour stocker les recommandations
    recommendations = []
    for item in relevant_items:
        recommendations.append(item)

    # Retourner la liste des recommandations
    return recommendations

In [115]:

# Utilisation de la fonction
user_email = "l2@c.com"
top_n_recommendations = 35

# Récupérer les recommandations
recommended_books = provide_recommendations_for_user(user_email, top_n_recommendations)

# Vous pouvez ensuite utiliser recommended_books comme vous le souhaitez
print("Recommended Books for User", user_email)
for book in recommended_books:
    print(book)

User: l2@c.com
Relevant Items:
1. a lesson before dying (library edition audio cds) (audio theatre collection)
2. the city of falling angels
3. ancestors tale a pilgrimage to the da
4. dress your family in corduroy and denim
5. blink: the power of thinking without thinking
6. the all new all purpose: joy of cooking
7. the seven spiritual laws of success: a practical guide to the fulfillment of your dreams
8. confessions of an economic hitman
9. new earth
10. labyrinth
11. the lion's game
12. gnostic gospels
13. incidents in the life of a slave girl, by harriet a. jacobs: a true tale of slavery, by john s. jacobs
14. undaunted courage: meriwether lewis, thomas jefferson, and the opening of the american west
15. the selfish gene
16. for women only: what you need to know about the inner lives of men
17. matilda cd
18. illusions: the adventures of a reluctant messiah
19. the seat of the soul
20. confessions of an heiress: a tongue-in-chic peek behind the pose
21. the forgotten soldier
22. pilgrim at tinker creek (perennial classics)
23. a prayer for owen meany (franklin library signed first edition)
24. the tortilla curtain
25. the nanny diaries
26. my life so far
27. red rabbit
28. the power and the glory
29. the red church
30. the tipping point: how little things can make a big difference (wheeler compass)
31. the last kingdom (the saxon chronicles series #1)
32. a redbird christmas
33. autobiography of a yogi

Recommended Books for User l2@c.com

TypeError: 'NoneType' object is not iterable

In [120]:
filtered_df[filtered_df['UserId'] == 'l2@c.com']

,ProductId,UserId,title,Score,Time,authors,categories
534157,,l2@c.com,le seigneur des anneaux de j. r. r. tolkien - ...,-1.0,None,Jade Gathoye,None
534160,,l2@c.com,le silmarillion,-1.0,None,J.R.R. Tolkien,None
534153,,l2@c.com,j.r.r. tolkien à 20 ans,-1.0,None,Alexandre Sargos,None
534152,,l2@c.com,j.r.r. tolkien,-1.0,None,Michael Coren,None
534151,,l2@c.com,j. r. r. tolkien,-1.0,None,Humphrey Carpenter,None
534175,,l2@c.com,"the hobbitt, or there and back again; illustra...",5.0,None,J. R. R. Tolkien,None
534158,,l2@c.com,le seigneur des anneaux t2 les deux tours,-1.0,None,J.R.R. Tolkien,None
534169,B000Q032UY,l2@c.com,the hobbit or there and back again,5.0,None,J. R. R. Tolkien,None
534173,B000GQG5MA,l2@c.com,"the hobbit; or, there and back again",5.0,None,J. R. R. Tolkien,None
534159,,l2@c.com,le seigneur des anneaux t3 le retour du roi,-1.0,None,J.R.R. Tolkien,None
534154,,l2@c.com,"j.r.r. tolkien, auteur du siècle",-1.0,None,Tom Shippey,None
534177,,l2@c.com,the lord of the rings: the fellowship of the r...,4.0,None,,None
534167,B000NDSX6C,l2@c.com,the hobbit,5.0,None,J. R. R. Tolkien,None
534161,,l2@c.com,les cles de la terre du milieu,-1.0,None,Paul Kocher,None
534165,B000FTS0K8,l2@c.com,the fellowship of the rings,4.0,None,,None
534171,B000ILIJE0,l2@c.com,the hobbit there and back again,5.0,None,John Ronald Reuel Tolkien,None
534139,B000Q9I494,l2@c.com,fellowship of the ring 2nd edition,4.0,None,John Ronald Reuel Tolkien,None
534163,B000L4056E,l2@c.com,the fellowship of the ring,4.0,None,J.R.R. Tolkien,None

In [79]:
filtered_df['UserId']

297958     AEF5RUTUW03SD
357244     AEAXPXOLE87B6
320744    A1XBYZX09V1OB4
480191    A2UUZYY6PNK98L
498334     AJIKD8BWK7Z50
               ...
110268    A3CHXQLCBO7S9Y
259178     AME10MRDYP6V7
365838     ACTEKUQIV8SKE
131932     AFITDZEWKJKAM
121958    A2SN81RKUIAGSI
Name: UserId, Length: 534181, dtype: object

In [80]:
filtered_df[filtered_df['UserId'] == 'lc@mail.com']

,ProductId,UserId,title,Score,Time,authors,categories
534170,B000Q032UY,lc@mail.com,the hobbit or there and back again,5.0,None,J. R. R. Tolkien,None
534174,B000GQG5MA,lc@mail.com,"the hobbit; or, there and back again",5.0,None,J. R. R. Tolkien,None
534168,B000NDSX6C,lc@mail.com,the hobbit,5.0,None,J. R. R. Tolkien,None
534140,B000Q9I494,lc@mail.com,fellowship of the ring 2nd edition,4.0,None,John Ronald Reuel Tolkien,None
534166,B000FTS0K8,lc@mail.com,the fellowship of the rings,4.0,None,,None
534178,,lc@mail.com,the lord of the rings: the fellowship of the r...,4.0,None,,None
534176,,lc@mail.com,"the hobbitt, or there and back again; illustra...",5.0,None,J. R. R. Tolkien,None
534172,B000ILIJE0,lc@mail.com,the hobbit there and back again,5.0,None,John Ronald Reuel Tolkien,None
534164,B000L4056E,lc@mail.com,the fellowship of the ring,4.0,None,J.R.R. Tolkien,None

In [81]:
# Votre code ici
end_time = time.time()
execution_time_seconds = end_time - start_time
execution_time_minutes = execution_time_seconds / 60

print(f"Temps d'exécution: {execution_time_minutes} minutes")

Temps d'exécution: 4.687309118111928 minutes

# test sql

In [117]:
def provide_recommendations_for_user(user_id, top_n=35):
    # Fetch relevant items for the user
    relevant_items = fetch_relevant_items_for_user(user_id, top_n)

    # Create a list to store the recommendations
    recommendations = [(title, user_id, '', '', '', '') for title in relevant_items]

    # Connect to the database
    engine = create_engine('mysql+pymysql://'+user+':'+mdp+'@localhost:3306/db_master_project')

    with engine.connect() as connection:
        # Delete old recommendations for this user
        delete_query = text("DELETE FROM recco_book WHERE owner = :owner")
        connection.execute(delete_query, {"owner": user_id})

        # Insert new recommendations
        insert_query = text("INSERT INTO recco_book (title, owner, author, year, type, publisher) VALUES (:title, :owner, :author, :year, :type, :publisher)")
        for rec in recommendations:
            connection.execute(insert_query, {"title": rec[0], "owner": rec[1], "author": rec[2], "year": rec[3], "type": rec[4], "publisher": rec[5]})

        # Commit the transaction
        connection.commit()

    # Return the list of recommendations (optional)
    return recommendations

In [118]:
# Use the function
user_email = "l2@c.com"
top_n_recommendations = 35
test = provide_recommendations_for_user(user_email, top_n_recommendations)

In [119]:
test

[('a lesson before dying (library edition audio cds) (audio theatre collection)',
  'l2@c.com',
  '',
  '',
  '',
  ''),
 ('the city of falling angels', 'l2@c.com', '', '', '', ''),
 ('ancestors tale a pilgrimage to the da', 'l2@c.com', '', '', '', ''),
 ('dress your family in corduroy and denim', 'l2@c.com', '', '', '', ''),
 ('blink: the power of thinking without thinking', 'l2@c.com', '', '', '', ''),
 ('the all new all purpose: joy of cooking', 'l2@c.com', '', '', '', ''),
 ('the seven spiritual laws of success: a practical guide to the fulfillment of your dreams',
  'l2@c.com',
  '',
  '',
  '',
  ''),
 ('confessions of an economic hitman', 'l2@c.com', '', '', '', ''),
 ('new earth', 'l2@c.com', '', '', '', ''),
 ('labyrinth', 'l2@c.com', '', '', '', ''),
 ("the lion's game", 'l2@c.com', '', '', '', ''),
 ('gnostic gospels', 'l2@c.com', '', '', '', ''),
 ('incidents in the life of a slave girl, by harriet a. jacobs: a true tale of slavery, by john s. jacobs',
  'l2@c.com',
  '',
  '',
  '',
  ''),
 ('undaunted courage: meriwether lewis, thomas jefferson, and the opening of the american west',
  'l2@c.com',
  '',
  '',
  '',
  ''),
 ('the selfish gene', 'l2@c.com', '', '', '', ''),
 ('for women only: what you need to know about the inner lives of men',
  'l2@c.com',
  '',
  '',
  '',
  ''),
 ('matilda cd', 'l2@c.com', '', '', '', ''),
 ('illusions: the adventures of a reluctant messiah',
  'l2@c.com',
  '',
  '',
  '',
  ''),
 ('the seat of the soul', 'l2@c.com', '', '', '', ''),
 ('confessions of an heiress: a tongue-in-chic peek behind the pose',
  'l2@c.com',
  '',
  '',
  '',
  ''),
 ('the forgotten soldier', 'l2@c.com', '', '', '', ''),
 ('pilgrim at tinker creek (perennial classics)', 'l2@c.com', '', '', '', ''),
 ('a prayer for owen meany (franklin library signed first edition)',
  'l2@c.com',
  '',
  '',
  '',
  ''),
 ('the tortilla curtain', 'l2@c.com', '', '', '', ''),
 ('the nanny diaries', 'l2@c.com', '', '', '', ''),
 ('my life so far', 'l2@c.com', '', '', '', ''),
 ('red rabbit', 'l2@c.com', '', '', '', ''),
 ('the power and the glory', 'l2@c.com', '', '', '', ''),
 ('the red church', 'l2@c.com', '', '', '', ''),
 ('the tipping point: how little things can make a big difference (wheeler compass)',
  'l2@c.com',
  '',
  '',
  '',
  ''),
 ('the last kingdom (the saxon chronicles series #1)',
  'l2@c.com',
  '',
  '',
  '',
  ''),
 ('a redbird christmas', 'l2@c.com', '', '', '', ''),
 ('autobiography of a yogi', 'l2@c.com', '', '', '', '')]